<div id="contentContainer">
    <div class="divider">
        <p>Kod-relaterat</p>
    </div>
    <div class="contentItem">
        <p>Källkod</p><a href="https://github.com/Newbie13XD/berzan/tree/gh-pages" target="_blank">GitHub</a>
    </div>
    <div class="contentItem">
        <p>Kod använd för slideout-menyn</p><a href="https://github.com/Mango/slideout" target="_blank">Slideout.js</a>
    </div>
    <div class="divider">
        <p>Övrigt</p>
    </div>
    <div class="contentItem">
        <p>Återkoppling</p><a href="https://t.me/Newbyte" target="_blank">Telegram</a>
    </div>
    <div class="contentItem">
        <p>Webbläsarstöd</p><a href="../html/browsers.html" target="_blank">Lista</a>
    </div>
    <div class="divider">
        <p>Juridiskt</p>
    </div>
    <div class="contentItem">
        <p>Berzan.js är licensierad enligt Mozilla Public License 2.0. Länk till denna finns nedan, samt i källkoden</p>
        <a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank">MPL 2.0</a>
    </div>
</div>