<div id="contentContainer">
	<h2 class="contentSeparatorHeader">Kod-relaterat</h2>
	<div class="separator"></div>
	<div class="contentItem">
		<h3>Källkod</h3>
		<h4>Berzan.js klient</h4>
		<ul>
			<li><a href="https://github.com/Newbytee/berzan" target="_blank">GitHub</a></li>
			<li><a href="https://gitlab.com/Newbyte/berzan" target="_blank">GitLab</a> (mirror)</li>
		</ul>
		<h4>Berzan.js backend</h4>
		<ul>
			<li><a href="https://gitlab.com/Newbyte/berzanjs-api-rs" target="_blank">GitLab</a></li>
		</ul>
	</div>
	<div class="contentItem">
		<h3>Bibliotek använt för slideout-menyn</h3>
		<ul>
			<li><a href="https://github.com/Mango/slideout" target="_blank">Slideout.js</a></li>
		</ul>
	</div>
	<h2 class="contentSeparatorHeader">Övrigt</h2>
	<div class="separator"></div>
	<div class="contentItem">
		<h3>Buggar/Återkoppling</h3>
		<ul>
			<li><a href="https://github.com/Newbytee/berzan/issues" target="_blank">GitHub Issues</a> (för buggar, bidrag, osv.)</li>
		</ul>
	</div>
	<div class="contentItem">
		<h3>Webbläsarstöd</h3>
		<ul>
			<li><a href="../html/browsers.html" target="_blank">Lista</a></li>
		</ul>
	</div>
	<h2 class="contentSeparatorHeader">Juridiskt</h2>
	<div class="separator"></div>
	<div class="contentItem">
		<h3>Licens</h3>
		<p>Berzan.js är licensierad enligt Mozilla Public License 2.0. Länk till denna finns nedan, samt i källkoden</p>
		<ul>
			<li><a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank">MPL 2.0</a></li>
		</ul>
	</div>
</div>
