<form id="scheduleInputForm">
    <input type="number" placeholder="Vecka" title="Skriv in den vecka vars schema du vill visa" class="field inputField">
    <input type="text" placeholder="Klass" title="Skriv in namnet på din klass här" class="field inputField">
    <button type="submit" class="field">Visa</button>
    <select title="Val av veckodag" class="field" id="dayDropdown">
        <option value="week">Hela veckan</option>
        <option value="monday">Måndag</option>
        <option value="tuesday">Tisdag</option>
        <option value="wednesday">Onsdag</option>
        <option value="thursday">Torsdag</option>
        <option value="friday">Fredag</option>
    </select>
</form>
<div id="scheduleMount"></div>