<div class="weekday"><img src="img/logo/logo-48.png" alt="Valda veckas schema" class="scheduleDisplay"></div>
<div class="weekday"><img src="img/logo/logo-48.png" alt="Valda veckans måndagsschema" class="scheduleDisplay"></div>
<div class="weekday"><img src="img/logo/logo-48.png" alt="Valda veckans tisdagssschema" class="scheduleDisplay"></div>
<div class="weekday"><img src="img/logo/logo-48.png" alt="Valda veckans onsdagsschema" class="scheduleDisplay"></div>
<div class="weekday"><img src="img/logo/logo-48.png" alt="Valda veckans torsdagsschema" class="scheduleDisplay"></div>
<div class="weekday"><img src="img/logo/logo-48.png" alt="Valda veckans fredagsschema" class="scheduleDisplay"></div>