<input class="inputField field" type="number" min="1" max="80" id="weekNumberField" placeholder="Vecka">
<input class="inputField field" id="classNameField" placeholder="Klass">
<button id="searchClass" class="field" title="Klicka för att visa det valda schemat">Visa schema</button>
<select id="dayDropdown" class="field" title="Val av veckodag">
    <option value="week">Hela veckan</option>
    <option value="monday">Måndag</option>
    <option value="tuesday">Tisdag</option>
    <option value="wednesday">Onsdag</option>
    <option value="thursday">Torsdag</option>
    <option value="friday">Fredag</option>
</select>
<img id="schedule" alt="Schemat för den valda tidsperioden" src="../img/logo/logo-48.png">