<div id="contentContainer">
    <div class="divider">
        <p>Schema</p>
    </div>
    <div class="contentItem">
        <p>Val av förstasida</p>
        <button class="field startPagePicker">Schema</button>
        <button class="field startPagePicker">Lunch</button>
        <button class="field startPagePicker">Övrigt</button>
    </div>
    <div class="contentItem">
        <p>Val av standardklass</p>
        <input class="field" id="defaultClass" placeholder="Klass">
        <button class="field" id="saveButtonThingy" title="Spara vald klass som standardklass">Spara</button>
    </div>
    <div class="contentItem">
        <p>Språk</p>
        <select class="field" id="languageSelection">
            <option>Svenska (Swedish)</option>
            <option>English</option>
            <option>Deutsch (German)</option>
            <option>Français (French)</option>
        </select>
    </div>
    <div class="divider">
        <p>Anpassning</p>
    </div>
    <div class="contentItem">
        <p>Bildformat för schemat</p>
        <button class="field filetypePicker">PNG</button>
        <button class="field filetypePicker">GIF</button>
    </div>
    <div class="contentItem">
        <p>Sida för mobilmenyn</p>
        <button class="field slideoutSidePicker">Vänster</button>
        <button class="field slideoutSidePicker">Höger</button>
    </div>
    <div class="divider">
        <p>Övrigt</p>
    </div>
    <div class="contentItem">
        <p>Om Slideout.js inte kan laddas</p>
        <select class="field" id="slideoutFailWarn">
            <option>Varna</option>
            <option>Varna inte</option>
        </select>
    </div>
    <div class="contentItem">
        <p>Återställ inställningar</p>
        <button class="field" id="resetButton" title="Återställ alla inställningar till deras standardvärde">Återställ</button>
    </div>
    <div class="divider">
        <p>Experiment</p>
    </div>
    <div class="contentItem">
        <p>Val av design för Berzan.js</p>
        <select class="field" id="styleSelection">
            <option>Standard</option>
            <option>Experimentell</option>
        </select>
    </div>
    <div class="contentItem">
        <p>Utökat service worker-stöd</p>
        <select class="field" id="serviceWorkerSelection">
            <option>Av</option>
            <option>På (under utveckling)</option>
        </select>
    </div>
</div>