<div id="contentContainer">
	<h2 class="contentSeparatorHeader">Schema</h2>
	<div class="separator"></div>
	<div class="contentItem">
		<h3>Standardklass</h3>
		<form id="defaultClassForm">
			<input class="field" placeholder="Klass" title="Namn på klass att spara som standardklass" />
			<input class="field" title="Spara vald klass som standardklass" type="submit" value="Spara" />
		</form>
	</div>
	<div class="contentItem">
		<h3>Schemats färger</h3>
		<label>Färgglatt
			<input class="scheduleColourModePicker" name="scheduleColourModePicker"
				type="radio" value="colourful" />
		</label>
		<label>Svartvitt
			<input class="scheduleColourModePicker" name="scheduleColourModePicker"
				type="radio" value="blackAndWhite" />
		</label>
	</div>
	<div class="contentItem">
		<h3>Schemat växlar till nästa dag vid …</h3>
		<form id="switchDayTimeForm">
			<input class="field" title="Tid då schemat ska visa morgondagen istället för nuvarande dagen" type="time" />
			<input class="field" type="submit" value="Spara" />
		</form>
	</div>
	<h2 class="contentSeparatorHeader">Anpassning</h2>
	<div class="separator"></div>
	<div class="contentItem">
		<h3>Förstasida</h3>
		<label>Schema
			<input class="startPagePicker" name="startpagePicker" type="radio" value="schedule" />
		</label>
		<label>Lunch
			<input class="startPagePicker" name="startpagePicker" type="radio" value="lunch" />
		</label>
	</div>
	<div class="contentItem">
		<h3>Sida för mobilmenyn</h3>
		<label>Vänster
			<input class="slideoutSidePicker" name="slideoutSidePicker" type="radio" value="left" />
		</label>
		<label>Höger
			<input class="slideoutSidePicker" name="slideoutSidePicker" type="radio" value="right" />
		</label>
	</div>
	<h2 class="contentSeparatorHeader">Övrigt</h2>
	<div class="separator"></div>
	<div class="contentItem">
		<h3>Om Slideout.js inte kan laddas</h3>
		<label>Varna
			<input class="slideoutBehaviourPicker" name="slideoutBehaviourPicker" type="radio" value="off" />
		</label>
		<label>Varna inte
			<input class="slideoutBehaviourPicker" name="slideoutBehaviourPicker" type="radio" value="on" />
		</label>
	</div>
	<div class="contentItem">
		<h3>Rensa cache</h3>
		<button class="field" id="deleteCaches"
			title="Ta bort all cachelagrad data Berzan.js skapat">Rensa</button>
	</div>
	<div class="contentItem">
		<h3 class="contentHeader">Återställ inställningar</h3>
		<button class="field" id="resetButton" title="Återställ alla inställningar till deras standardvärde">Återställ</button>
	</div>
	<h2 class="contentSeparatorHeader">Experiment</h2>
	<div class="separator"></div>
	<div class="contentItem">
		<h3>Tema</h3>
		<label>Ljust
			<input class="stylePicker" name="stylePicker" type="radio" value="light" />
		</label>
		<label>Mörkt
			<input class="stylePicker" name="stylePicker" type="radio" value="dark" />
		</label>
	</div>
</div>
