nav {
    height: 8vh;
    background-color: #490A3D; /* "Berzan-färgen": #A1274C, den jag valde: #490A3D */
    position: fixed;
}

input {
    width: 20%;
    max-width: 100px;
}

h1 {
    font-weight: normal;
}

strong {
    font-size: 5vh;
}

nav, .settingsDiv, #schedule, #contentIframe {
    width: 100%;
}

.identity {
    padding-top: 1.5vh;
    font-size: 3vh;
    color: #FFFFFF;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

#contentIframe {
    margin-top: 8.5vh;
    height: 90vh;
    overflow: hidden;
    border: none;
}

#schedule {
    margin-top: 0.5vh;
}

#searchClass {
    border-color: #F0F0F0;
    cursor: pointer;
}

#desktopNav, #mobileDiv {
    display: none;
}

/* start of Slideout.js CSS */

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* end of Slideout.js CSS */

@media screen and (orientation: landscape) {
    .navButton {
        transition: 0.5s;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 20px;
        color: #FFFFFF;
    }

    .navButton:hover {
        transition: 0.5s;
        background-color: #FFFFFF66; /* #123456 */
    }
    
    .identity {
        position: absolute;
        right: 1%;
    }

    #desktopNav {
        height: 8vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }

    #wrapper {
        width: 80%;
    }
}

@media screen and (orientation: portrait) {
    .navButton {
        display: none;
    }

    .identity {
        text-align: center;
    }
    
    #hamburgerSvg {
        position: absolute;
        margin-top: 2vh;
        margin-left: 5%;
        width: 10%;
        color: white;
    }
    
    #mobileDiv {
        display: block;
    }

    #wrapper {
        width: 100%;
    }
}