nav {
    
    height: 8vh;
    width: 100%;

    background-color: #490A3D;
    
}

#wrapper {
    
    
    
}

@media screen and (orientation: landscape) {
    
    #wrapper {
    
        width: 60%;
        
    }
    
}

@media screen and (orientation: portrait) {
    
    #wrapper {
    
        width: 100%;
        
    }
    
}